<md-sidenav-container fullscreen>
  <md-sidenav #start mode="over" opened="false" class="sidenav-width">
    <md-nav-list>
      <md-list-item>
        <md-icon>search</md-icon>
        <h4>Search!</h4>
      </md-list-item>
      <md-list-item >
        <md-icon>list</md-icon>
        <h4>List</h4>
      </md-list-item>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="start.toggle()">
        <md-icon> menu</md-icon>
      </button>
    <span>Seen It!</span>
  </md-toolbar>
  <div>
  </div>
</md-sidenav-container>